@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-sidebar::-webkit-scrollbar,
.reviews-scroll::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.filter-sidebar::-webkit-scrollbar-thumb,
.reviews-scroll::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}
.filter-sidebar::-webkit-scrollbar-track,
.reviews-scroll::-webkit-scrollbar-track {
  background: #eee;
}

.hide-horizontal-scrollbar {
  overflow-x: auto;            
  overflow-y: auto;            
  scrollbar-width: auto;       
}

.hide-horizontal-scrollbar::-webkit-scrollbar:horizontal {
  height: 0px;                
}